*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --primary: #C7C8CC;
    --secondary: #31363F;
}

nav {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigasi{
    color: var(--secondary);
    font-weight: 600;
}

.navigasi:hover{
    text-decoration: underline;
}

/* Home Page */
.home {
    height: 100vh;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home h1 {
    text-align: center;
}

.home div {
    display: flex;
    gap: 5rem;
}

.home div p {
    text-align: justify;
}

.home div img {
    height: 20rem;
    width: 20rem;
}

.button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: black;
    font-weight: 700;
    text-align: center;
}

.button:hover{
    background-color: white;
    cursor: pointer;
}

.inputan{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: black solid 1px;
    margin: 0.5rem 0;
  }
